language: ruby
cache:
  - bundler
  - yarn
  
env:
  - S3_ACCESS_KEY_ID=example S3_ACCESS_KEY=example S3_REGION=example S3_REGION=example S3_BUCKET=example
services:
  - postgresql
before_install:
  - nvm install --lts
before_script:
  - bundle install --jobs=3 --retry=3
  - yarn
  - bundle exec rails db:create
  - bundle exec rails db:schema:load
script:
  - bundle exec rubocop .
